build/

SOLVER/PREM*

MESHER/Models

SOLVER/Magma_file

SOLVER/TW_model_syn

SOLVER/Hetero/Hetero_lite_package

make_axisem.macros

MESHER/Makefile

MESHER/*.o

MESHER/*.mod

MESHER/xmesh

SOLVER/*.o

SOLVER/*.mod

SOLVER/axisem

SOLVER/runinfo

SOLVER/MESHES*

SOLVER/TEST*

SOLVER/UTILS/*.o

SOLVER/UTILS/*.mod

SOLVER/UTILS/xfield_transform

SOLVER/UTILS/xpost_processing

SOLVER/Makefile

SOLVER/UTILS/Makefile

MESHER/OUTPUT

SOLVER/CMTSOLUTION

SOLVER/STATIONS

*.gcno
*.gcda
__pycache__
.idea/
MESHER/gitversion.h
Makefile
SOLVER/gitversion.h
